.row {
    margin-left: 20px;
    color: white
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 5px 20px 5px;
}

.image {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 3px;
  transition: transform 450ms;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.large-image {
    max-height: 250px;
    transition: transform 450ms;
}

.large-image:hover {
    transform: scale(1.09);
    cursor: pointer;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-posters::-webkit-scrollbar-thumb {
    background: transparent;
}

.row-posters::-webkit-scrollbar-track {
    background: transparent;
}